- var limit = 3;
- var counter = 0;
- var filePath = include+ " " + 'icons/feature-' + (counter++) + '.html';

section.features
  
  .row
    .col.span-1-of-3
      include icons/feature-1.html
  
    .col.span-2-of-3
      .text-content
        h2 Buy Cat Products
        p Your cat will love our service. As cat people have been a part of the feline community for years, We know what your cat loves.
  
  .row
    .col.span-1-of-3
      include icons/feature-2.html
    .col.span-2-of-3
      .text-content
        h2 Bitcoin As Currency
        p Use your Bitcoin to treat your cat to the finest.Bitcoin is a great way to buy cat products as it does not waste paper which kills trees which cats then they can't climb.
  
  .row
    .col.span-1-of-3
      include icons/feature-3.html
  
    .col.span-2-of-3
      .text-content
        h2 Home Delivery
        p Order cat proucts from MeowCoin anytime using your phone or tablet or a computer. It's that easy!!! We also make Home Deliveries.
