footer
  .row
    h2.logo Meow Coin
    p Copyrighted, 2018. By Meow Coin.
      |
      br
      | all 
      a(href="#") Terms
      |  and 
      a(href="#") Conditions
      |  applied.
      br
      |Icons Made by 
      a(href="https://www.freepik.com" target="_blank" title="Freepik") Freepik
      |  From 
      br
      a(href="https://www.flaticon.com" title="Flaticon" target="_blank") www.flaticon.com
      |  is liscensed by 
      a(href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank") CC 3.0 BY
