section.newsletter
  h2 Launching Soon!
  p.kicker Subscribe Our Newsletter To Get Latest Updates.
  form
    input(type="email" required name="email" placeholder="Your Email" id="email")
    input(type="submit" class="btn btn-secondary-full" value="Subscribe")
