doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    
    include includes/header.pug
    include includes/features.pug
    include includes/newsletter.pug
    include includes/footer.pug
    
    script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")
    
    //- TODO: favicon
    //- animation
    //- TODO: build steps
