footer
  padding: 50px 0
  background-color: $footer-color
  color: $white-color
  @media (max-width: $large-breakpoint)
    padding: 50px 20px
  .row
    display: flex
    align-items: center
    @media (max-width: $small-breakpoint)
      display: block
      text-align: center
      h2
        margin-bottom: 30px
      p
        text-align: center

  h2
    font-weight: normal
    cursor: pointer
  p
    margin-left: auto
    text-align: right
    line-height: 2
    text-transform: uppercase
    letter-spacing: 3px
    font-size: 0.8em
    a
      color: $white-color
      text-decoration: underline
      transition: all 0.2s ease
      &:hover
        opacity: 0.8
